body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-image: url("img/background/background_ai.png");
  background-size: cover;
  font-family: "Quinthero", Arial, Helvetica, sans-serif;
}

h1 {
  margin-top: 3%;
  font-size: 64px;
  margin-bottom: 0%;
  color: #de2121cf;
  letter-spacing: 3px;
  text-shadow: 12px 13px 4px rgba(0, 14, 0, 0.5);
}

canvas {
  border: 4px solid #d1d489;
  box-shadow: 19px 24px 23px rgba(0, 0, 0, 0.3);
  border-radius: 9px;
  display: block;
  position: absolute;
  margin-top: 146px;
}

.d-none {
  display: none;
}

.startscreen {
  position: absolute;
}

.startscreen-img {
  width: 720px;
  height: 475px;
  margin-top: 151px;
}

.start-btn {
  position: absolute;
  top: 195px;
  right: 52px;
  width: 150px;
  height: 36px;
  background-color: #cfd213;
  border-radius: 8px;
  border-color: #9a3a17;
  font-family: "Quinthero", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: x-large;
  color: #cb2020;
}

.start-btn:hover {
  background-color: #fbff10;
}

.control {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 480px;
  margin-block-start: -55px;
  margin-left: 16px;
  color: #000000d4;
  font-size: 17px;
}

@font-face {
  font-family: "Quinthero";
  src: url("fonts/Quinthero.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@media (width < 1024px) {
  h1 {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  canvas {
    width: 100%;
    border: none;
  }
  .startscreen {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }

  .startscreen {
    height: 100vh;
  }
}
